.app-shell {
    display: flex;
    height: 100%;
    width: 100%;
}
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;

    > h2 {
        padding-left: 20px;
    }
}
.sidenav-shell {
    position: relative;
    top: 10%;
    padding: 24px;
}
.page-content {
    flex: 1;
    display: block;
}
mat-sidenav-content {
    margin-right: 5%;
}
.authbar-content {
    position: fixed;
    top: 0;
    right: 5px;
    padding: 5px;
}