.app-shell {
    display: flex;
    height: 100%;
    width: 100%;
}
.toolbar {
    position: fixed;
    flex: 0 0 10%;
    z-index: 1000;

    > h2 {
        padding-left: 20px;
    }
}
.sidenav-shell {
    position: relative;
    top: 10%;
    padding: 24px;
}
.page-content {
    display: flex;
    width: 100%;
}
.main-content {
    flex: 1;
    position: relative;
    top: 10%;
    margin: 2% !important;
}
.authbar-content {
    position: fixed;
    top: 0;
    right: 5px;
    padding: 5px;
}