.app-shell {
    display: grid;
    grid-template-areas:
    "header header"
    "sidebar content";
    grid-template-rows: 1fr 10fr;
    width: 100vw;
    height: 100vh;
    gap: 0;
}

app-header {
    grid-area: header
}

mat-sidenav-container {
    grid-area: sidebar;
}

main {
    grid-area: content;
}