/* app-shell {
    display: flex;
    height: 100vh;
}
.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    > h2 {
        padding-left: 20px;
    }
}
.sidenav-shell {
    position: relative;
    width: 15%;
    top: 10%;
    padding: 24px;
}
.authbar-content {
    position: fixed;
    top: 0;
    right: 5px;
    padding: 5px;
} */
