<div class="account-settings mat-typography">
    <div class="settings-section">
        <h6>Email</h6>
        <mat-card class="email">
            <p>standin&#64;gmail.com</p>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card>
    </div>
    <div class="settings-section">
        <h6>Password</h6>
        <a mat-flat-button>
            Reset password
        </a>
    </div>
    <div class="settings-section">
        <h6>Delete Account</h6>
        <a mat-flat-button color="warn">
        Delete account
        </a>
    </div>
    <div class="settings-section">
        <h6>Spotify Integration</h6>
        <p>No Spotify account linked</p>
        <button mat-flat-button>
            Link a Spotify account
        </button>
    </div>
</div>