<div class="eg">
    <ng-container *ngFor="let integration of statusOfAllowedIntegrations()">
        <mat-card appearance="outlined">
            <mat-card-content>
                <h2>{{ integration.name }}</h2>
                <button mat-stroked-button *ngIf="!integration.enabled" (click)="integrateWithThirdParty(integration.name)">
                    <mat-icon>add</mat-icon>
                    Enable integration
                </button>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>