<mat-card class="event-card">
    <div class="event-content">
        <div class="event-date">
            <div class="event-day" data-testid="day">{{ day }}</div>
            <div class="event-number" data-testid="date">{{ date }}</div>
        </div>

        <div class="event-title" data-testid="title">{{ title }}</div>

        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteGig()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>